<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <title>Nerd Culinary Crafting</title>

  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <div class=''>
    <header class='header'>
      <h1 class='title'>
        Nerds Culinary Crafting
      </h1>
      {{#if logged_in}}
        <a class="logout button-35-logout" href="/login">Logout</a>
        <a class="home button-35-home" href="/homepage">Home</a>
      {{/if}}
    </header>
    <main class=''>
      {{{body}}}
    </main>
  </div>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>