<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Nerd Culinary Crafting</title>

    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <div class='flex-column justify-space-around'>
      <header class=''>
        <h1>
         Nerds Culinary Crafting
        </h1>
      </header>
      <main class='container container-fluid mt-5'>
        {{{body}}}
      </main>
    </div>
  </body>

</html>
