<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Nerd Culinary Crafting</title>

    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <div class=''>
      <header class='header'>
        <h1 class='title'>
         Nerds Culinary Crafting
        </h1>
      </header>
      <main class=''>
        {{{body}}}
      </main>
    </div>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
