<link rel='stylesheet' href='/public/css/category.css' />
<div>
    <div>
        <h2>{{pageName}} Recipes</h2>
    </div>
    <div>
        <ul>
            {{#each recipes}}
                <li>{{this.recipeName}} - {{this.description}}</li>
            {{/each}}
        </ul>
    </div>
</div>