    <link rel='stylesheet' href='/public/css/category.css' />
<div>
    <div>
    <h2>(Tage Name) Recipes</h2>
    </div>
    <div>
        <ul>
            <!-- place for all the recipes to be shown-->
        </ul>
    </div>
</div>