<link rel="stylesheet" href="/css/homepage.css">
<div class='hpcont'>
    <div>
        <a class="new-recipe button-85 " href="/newrecipe">Create New Recipe</a>
    </div>
    <div>
        <h2 class="poptag">Popular Tags</h2>
    </div>
    <div>
        <nav>
            <button type="button" class="button-81">Star Wars</button>
            <button type="button" class="button-81">Lord of the Rings</button>
            <button type="button" class="button-81">Stardew Valley</button>
            <button type="button" class="button-81">Final Fantasy</button>
            <button type="button" class="button-81">Harry Potter</button>
            <button type="button" class="button-81">Destiny</button>
            <button type="button" class="button-81">Minecraft</button>
            <button type="button" class="button-81">Studio Ghibli</button>
            <button type="button" class="button-81">Monster Hunter</button>
        </nav>
    </div>
    <div class="recipebg">
        <!-- Placeholder for recipe of the week -->
        <h1>Recipe of the Week: {{{recipe.recipe_name}}}</h1>
        <h3>{{{recipe.description}}}</h3>
        <button class="my-button" id="my-button">Start Contest!</button>
    </div>
</div>

<script src="./js/homepage.js"></script>