    <link rel='stylesheet' href='/public/css/homepage.css' />
<div>
    <h2>Popular Tags</h2>
    <div>
        <nav>
            <button>Star Wars</button>
            <button>Lord of the Rings</button>
            <button>Stardew Valley</button>
            <button>Final Fantasy</button>
            <button>Harry Potter</button>
        </nav>
    </div>
    <div>
        <!-- Place holder for recipe of the week-->
        <h1>Place Holder for recipe name</h1>
        <h3>Place holder for recipe instructions</h3>
    </div>
</div>