<div class='hpcont'>
    <h2 class="poptag">Popular Tags</h2>
    <div>
        <nav>
            <button class="button-81">Star Wars</button>
            <button class="button-81">Lord of the Rings</button>
            <button class="button-81">Stardew Valley</button>
            <button class="button-81">Final Fantasy</button>
            <button class="button-81">Harry Potter</button>
            <button class="button-81">Destiny</button>
            <button class="button-81">Minecraft</button>
            <button class="button-81">Studio Ghibli</button>
            <button class="button-81">Monster Hunter</button>
        </nav>
    </div>
    <div class="recipebg">
        <!-- Place holder for recipe of the week-->
        <h1>Place Holder for recipe name</h1>
        <h3>Place holder for recipe instructions</h3>
    </div>
</div>