<link rel="stylesheet" href="/css/homepage.css">
<div class='hpcont'>
    <div>
        <button class="new-recipe button-85" type="button" href="/views/newrecipe.handlebars">Create New Recipe</button>
    </div>
    <div>
        <h2 class="poptag">Popular Tags</h2>
    </div>
    <div>
        <nav>
            <button type="button" class="button-81">Star Wars</button>
            <button type="button" class="button-81">Lord of the Rings</button>
            <button type="button" class="button-81">Stardew Valley</button>
            <button type="button" class="button-81">Final Fantasy</button>
            <button type="button" class="button-81">Harry Potter</button>
            <button type="button" class="button-81">Destiny</button>
            <button type="button" class="button-81">Minecraft</button>
            <button type="button" class="button-81">Studio Ghibli</button>
            <button type="button" class="button-81">Monster Hunter</button>
        </nav>
    </div>
    <div class="recipebg">
        <!-- Place holder for recipe of the week-->
        <h1>Place Holder for recipe name</h1>
        <h3>Place holder for recipe instructions</h3>
    </div>
</div>