<link rel='stylesheet' href='/css/login.css' />
        <div id="login">
          <h2 class="text-margin">Login</h2>
      
          <form class="form login-form">
            <div class="form-group">
              <label for="username-login">Username:</label>
              <input class="form-input" type="text" id="username-login" />
            </div>
            <div class="form-group">
              <label for="password-login">Password:</label>
              <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="">
              <button class="button-73" type="submit">Login</button>
            </div>
          </form>
        </div>
        <div id="signup">
          <h2 class="text-margin">Signup</h2>
      
          <form class="form signup-form">
            <div class="form-group">
              <label for="username-signup">Username:</label>
              <input class="form-input" type="text" id="username-signup" />
            </div>
             <div class="form-group">
              <label for="firstname-signup">First Name:</label>
              <input class="form-input" type="text" id="firstname-signup" />
            </div>
            <div class="form-group">
              <label for="password-signup">Password:</label>
              <input class="form-input" type="text" id="password-signup" />
            </div>
            {{!-- <div class="form-group">
              <label for="confirm-signup">Confirm Password:</label>
              <input class="form-input" type="password" id="confirm-signup" />
            </div> --}}
            <div class="form-group">
              <button class="button-73" type="submit">Signup</button>
            </div>
          </form>
        </div>
    </div>
    <div>
      <h2 id="login-s">Nerds Culinary Crafting is a website for user to upload videogame and pop culture inspired recipes. Every week a recipe that has been submitted will be displayed on our home page as the recipe of the week.</h2>
    </div>

<script src="./js/login.js"></script>
