<link rel='stylesheet' href='/css/recipe.css' />
<div>
    <h1 class="cent name">Place Holder for recipe name</h1>
    <div>
        <h3 class="cent des">Place holder for recipe description</h3>
    </div>
    <div>
        <h3 class="cent res">Place holder for recipe instructions</h3>
    </div>
    <div>
        <h4 class="cent">Area for tags attatched to recipe if possible</h4>
    </div>
</div>