    <link rel='stylesheet' href='/public/css/recipe.css' />
<div>
    <h1>Place Holder for recipe name</h1>
    <div>
        <h3>Place holder for recipe instructions</h3>
    </div>
    <div>
        <h4>Area for tags attatched to recipe</h4>
    </div>
</div>