:root {
    --primary: #2d4a54;
    --secondary: #0c7475;
    --tertiary: #007F5F;
    --quatrinary: #00E88A;
    --tan: #ffd8ba;
    --light: #ebebeb;
    --dark: #182c23;
    --p: #BB96DC;
    --d: #1B1145;
    --gr: #B0ACB0;
    --li: #e2dddf;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin: 0;
      background-color: var(--gr);
      display: flexbox;
  }

header{
    width: 100%;
    background-color: var(--d);
    margin: 0;
    text-align: center;
    font-size: 30px;
    height: 75px;
}

.title{
    color: var(--li);
    margin: 0;
}

.btn {
    background-color: var(--secondary);
    color: var(--light);
}

/* CSS */
.button-35-logout{
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    margin-left: 10px;
    margin-top: 15px;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-35-logout:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
  }
  
  /* CSS */
  .button-35-home {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    margin-right: 10px;
    margin-top: 15px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-35-home:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
  }